{% extends "admin/base.html" %} {% block content %}
<div class="form-item w-100 d-flex align-items-center">
    <div class="container">
        <h1 class="text-light pt-35">Add new <span style="color: #20C997;">Project</span></h1>
        <form action="/admin/projects" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label class="mt-5 text-light">Project Name</label>
                <input type="text" name="project_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group mt-3">
                <label class="text-light">Project View Url</label>
                <input type="text" name="project_view_url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group mt-3">
                <label class="text-light">Project Github Url</label>
                <input type="text" name="project_github_url" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group mt-3">
                <input type="file" name="project_img" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="submit_button">
                <span></span>
                <span></span>
                <span></span>
                <span></span> <button type="submit">Submit</button>
            </div>
        </form>
        <div class="pb-60">
            <table class="table rounded text-light">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Project View Url</th>
                        <th scope="col">Project Github Url</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {%for project in projects%}
                    <tr>
                        <td>{{project.id}}</td>
                        <td>{{project.project_name}}</td>
                        <td><a href="{{project.project_view_url}}" target="_blank">{{project.project_view_url}}</a></td>
                        <td><a href="{{project.project_github_url}}" target="_blank">{{project.project_github_url}}</a></td>
                        <td><a href="/projectEdit/{{project.id}}"><i class="far fa-edit" style="color: #20C997;"></i></a></td>
                        <td><a href="/projectDelete/{{project.id}}"><i class="far fa-trash-alt" style="color: #20C997;"></i></a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}