{% extends "admin/base.html" %} {% block content %}
<div class="form-item w-100 d-flex align-items-center">
    <div class="container">
        <h1>Add new <span style="color:#20C997;">Skills</span></h1>
        <form action="/admin/skills" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label class="mt-5">Skills title</label>
                <input type="text" name="skills_title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group mt-3">
                <label>Skills class</label>
                <input type="text" name="skills_class" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="form-group mt-3">
                <label>Skills content</label>
                <textarea name="skills_content" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success mt-3">Submit</button>
        </form>
        <table class="table table-dark mt-4 rounded">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Skills title</th>
                    <th scope="col">Skills content</th>
                    <th scope="col">Skills Class</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {%for _skills in skills%}
                <tr>
                    <td>{{_skills.id}}</td>
                    <td>{{_skills.skills_title}}</td>
                    <td>{{_skills.skills_content}}</td>
                    <td>{{_skills.skills_class}}</td>
                    <td><a href="/skillEdit/{{_skills.id}}"><i class="far fa-edit" style="color: #20C997;"></i></a></td>
                    <td><a href="/skillDelete/{{_skills.id}}"><i class="far fa-trash-alt" style="color: #20C997;"></i></a></td>

                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}