/* Feedbacks Section Start */


/* @media only screen and (min-width: 800px) {
    .row-feedbacks {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .row-feedbacks {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);
    }
}

.feedback-item {
    background: var(--color-athens-gray);
    padding: 3rem;
    border-radius: 8px;
    transition: all .6s ease;
}

.feedback-item:hover {
    background: rgba(23, 28, 36);
}

.feedback-item:hover h1,
.feedback-item:hover small,
.feedback-item:hover p {
    color: #fff;
}

.feedbacks-item h1 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: var(--color-charade);
}

.feedbacks-item small {
    font-family: "Poppins", sans-serif;
    color: var(--color-pale-sky);
}

.feedbacks-item p {
    font-family: "Poppins", sans-serif;
    color: var(--color-shark);
    line-height: 1.5;
}

.point span>.fa-star {
    color: var(--color-amber);
} */

.carousel:hover {
    background: var(--color-mirage);
    transition: all .4s ease;
}

.carousel:hover h1,
.carousel:hover p,
.carousel:hover small {
    color: var(--color-white);
}

.fb-slide-prf img {
    width: 100px;
    height: 100px;
}

.fb-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fb-slide-prf,
.fb-slide-title h1,
.fb-slide-content p,
.fb-slide-from small {
    margin-top: 20px;
}

.fb-slide-title h1 {
    font-family: "ReadexProRegular";
    font-size: 22px;
    margin-bottom: 5px;
}

.fb-slide-from small {
    font-family: "ReadexProLight";
    font-size: 14px;
}

.fb-slide-content {
    display: flex;
    justify-content: center;
}

.fb-slide-content p {
    width: 70%;
    font-family: "ReadexProSemiBold";
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.4;
}


/* Feedbacks Section End */