/* Feedbacks Section Start */

@media only screen and (min-width: 800px) {
    .row-feedbacks {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .row-feedbacks {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(1, 1fr);
    }
}

.feedback-item {
    background: var(--color-athens-gray);
    padding: 3rem;
    border-radius: 8px;
    transition: all .6s ease;
}

.feedback-item:hover {
    background: rgba(23, 28, 36);
}

.feedback-item:hover h1,
.feedback-item:hover small,
.feedback-item:hover p {
    color: #fff;
}

.feedbacks-item h1 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: var(--color-charade);
}

.feedbacks-item small {
    font-family: "Poppins", sans-serif;
    color: var(--color-pale-sky);
}

.feedbacks-item p {
    font-family: "Poppins", sans-serif;
    color: var(--color-shark);
    line-height: 1.5;
}

.point span>.fa-star {
    color: var(--color-amber);
}


/* Feedbacks Section End */