/* Feedbacks Section Start */

.carousel {
    transition: all .4s ease;
}

.carousel:hover {
    background: var(--color-woodsmoke);
    transition: all .4s ease;
}

.carousel:hover p {
    color: rgba(255,255,255,.5);
    transition: all .4s ease;
}

.fb-slide-prf img {
    width: 100px;
    height: 100px;
}

.fb-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fb-slide-prf,
.fb-slide-title h1,
.fb-slide-content p,
.fb-slide-from small {
    margin-top: 20px;
}

.fb-slide-title h1 {
    font-weight: 600 !important;
    font-size: 22px;
    margin-bottom: 5px;
}

.fb-slide-from small {
    font-weight: 400 !important;
    font-size: 14px;
}

.fb-slide-content {
    display: flex;
    justify-content: center;
}

.fb-slide-content p {
    width: 70%;
    font-weight: 500 !important;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.4;
}

/* Feedbacks Section End */