/* Footer Section Start */


/* Responsive Section Start */

@media only screen and (min-width: 800px) {
    .footer-item {
        display: flex;
        justify-content: space-between;
    }
    .footer-item ul {
        display: flex;
    }
}

@media only screen and (max-width: 800px) {
    .footer-text,
    .footer-items {
        text-align: center;
    }
    .footer-items ul {
        display: inline-flex;
        padding-top: 16px;
    }
}

/* Responsive Section End */

.footer-text {
    color: rgba(250, 250, 250, 0.8);
    font-weight: 400 !important;
}

.footer-text p a {
    color: var(--color-mountain-meadow);
    text-decoration: none;
}

.footer-nav-item a {
    color: rgba(250, 250, 250, 0.8);
    text-decoration: none;
}

.footer-nav-item a:hover {
    color: var(--color-mountain-meadow);
    transition: all .6s ease;
}

.footer-item {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.line {
    width: 1px;
    height: 16px;
    background-color: rgba(255, 255, 255, .5);
    margin-left: 20px;
    margin-right: 20px;
}

/* Footer Section End */