/* What I do? Section Start */

.item h1 {
    /* font-family: "ReadexProRegular"; */
    font-weight: 500 !important;
    margin-top: 10px;
    font-size: 18px;
    color: rgba(255,255,255,.5);
}

.item p {
    /* font-family: "ReadexProLight"; */
    font-weight: 400 !important;
    color: rgba(255,255,255,.5);
    padding-top: 10px;
    line-height: 1.8;
}

.fa-html5,
.fa-css3-alt,
.fa-bootstrap,
.fa-js,
.fa-python,
.fa-sass,
.bxl-flask,
.bxl-tailwind-css,
.bxl-github,
.bxl-git,
.bx-data,
.fa-react {
    width: 120px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-shark);
    border-radius: 5px;
    padding: 10px 20px;
}

.list-groups .fa-html5,
.list-groups .fa-css3-alt,
.list-groups .fa-bootstrap,
.list-groups .fa-js,
.list-groups .fa-python,
.list-groups .fa-sass,
.list-groups .bxl-flask,
.list-groups .bxl-tailwind-css,
.list-groups .bxl-github,
.list-groups .bxl-git,
.list-groups .bx-data,
.list-groups .fa-react {
    font-size: 3.2rem;
    color: var(--color-mountain-meadow);
    transition: all .3s ease;
}

.list-groups {
    transition: all .4s ease;
}

.list-groups:hover {
    cursor: pointer;
    transition: all .3s ease;
    transform: scale(1.1);
}

.list-groups:hover .item h1 {
    color: var(--color-white);
}

.list-groups:hover .fa-html5 {
    color: var(--color-flamingo);
}

.list-groups:hover .fa-css3-alt {
    color: var(--color-fun-blue);
}

.list-groups:hover .fa-bootstrap {
    color: var(--color-studio);
}

.list-groups:hover .fa-js {
    color: var(--color-gold);
}

.list-groups:hover .fa-react {
    color: var(--color-malibu);
}

.list-groups:hover .fa-python {
    color: var(--color-azure);
}

.list-groups:hover .fa-sass {
    color: var(--color-mulberry);
}

.list-groups:hover .bxl-flask {
    color: var(--color-cod-gray);
}

.list-groups:hover .bxl-tailwind-css {
    color: var(--color-picton-blue);
}

.list-groups:hover .bxl-github {
    color: var(--color-bunker);
}

.list-groups:hover .bxl-git {
    color: var(--color-flamingo-100);
}

.list-groups:hover .bx-data {
    color: var(--color-tundora);
}

.list-icon {
    /* box-shadow: 0 0.300rem 0.80rem rgba(0,0,0,.1); */
    /* align-self: flex-start; */
}

/* .item {
    padding-left: 20px;
} */


/* What I do? Section End */