* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: var(--bs-default-font);
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #F7F8FC;
}

.form-item .container {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
}

textarea {
    width: 100%;
}

main {
    width: 100%;
}

.header-item a,
.menu-item-link {
    text-decoration: none;
}

.header-item a p,
.menu-item-link p {
    margin-top: 0;
    margin-bottom: 0px;
}

.sidebar-menu .menu {
    padding-left: 0rem;
}

.container {
    width: 100%;
    box-sizing: border-box;
}

.content {
    padding-left: 30px;
    padding-right: 33px;
}

.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.pr-24 {
    padding-right: 24px;
}

.pl-24 {
    padding-left: 24px;
}

.pl-32 {
    padding-left: 32px;
}

.pr-32 {
    padding-right: 32px;
}